<section id="services" class="services service_section">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2><a routerLink="/courses">Courses</a> / DATA STRUCTURE</h2>
            <p></p>
        </div>
        <div class="row">
            <div class="contentsection col-lg-12 col-md-12 d-flex">
                <div class="row contentdata fn">
                    <div class="col-lg-3 aboutusimage">
                        <img src="assets/img/ds.png" class="img-fluid" alt="">
                        <p><b>ONE ON ONE TRAINING</b></p>
                        <p><b>COURSE PRICE - 9,000 INR ONLY</b></p>
                        <a style="text-align: center;" routerLink="/contact"><button type="button">TALK TO TUTOR</button></a>
                    </div>
                    <div class="col-lg-9 pt-4 pt-lg-0 content">
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">~COURSE CONTENT~</h1>
                            <li class="list-group-item">- What is Data Structure?</li>
                            <li class="list-group-item">- Why different data structures are used ?</li>
                            <li class="list-group-item">- How Data Structure different from Design Patterns ?</li>
                            <li class="list-group-item">- Types of Data Structure</li>
                            <li class="list-group-item">- Arrays</li>
                            <li class="list-group-item">- Linked List</li>
                            <li class="list-group-item">- Binary Search Tree</li>
                            <li class="list-group-item">- Stack</li>
                            <li class="list-group-item">- Queue</li>
                            <li class="list-group-item">- Hashing</li>
                            <li class="list-group-item">- Heap</li>
                            <li class="list-group-item">- Matrix</li>
                            <li class="list-group-item">- Graphs</li>
                            <li class="list-group-item">- Trees</li>
                            <li class="list-group-item">- Time Complexity</li>
                            <li class="list-group-item">- Space Complexity</li>
                            <li class="list-group-item">- Sorting Algorithms</li>
                            <li class="list-group-item">- Searching Algorithms</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">What you will learn?</h1>
                            <li class="list-group-item">- Basic and Advance Data Structures to made scalable applications</li>
                            <li class="list-group-item">- Ability to take good decision of data structure while making applications</li>
                            <li class="list-group-item">- Problem solving skills</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">Are there any course requirements or prerequisites?</h1>
                            <li class="list-group-item">- Basic coding skills of any coding language</li>
                            <li class="list-group-item">- Dedication to learn</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">Who this course is for?</h1>
                            <li class="list-group-item">- Newcomer as well as experienced developers interested in learning data structure</li>
                            <li class="list-group-item">- Developers who find ds difficult to understand or preparing for exams/ interviews</li>
                        </ul>
                    </div>
                    <a style="text-align: center;" routerLink="/contact"><button type="button">TALK TO TUTOR</button></a>
                </div>
            </div>
        </div>
    </div>
</section>