<section id="services" class="services service_section">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2><a routerLink="/courses">Courses</a> / Angular</h2>
            <p></p>
        </div>
        <div class="row">
            <div class="contentsection col-lg-12 col-md-12 d-flex">
                <div class="row contentdata fn">
                    <div class="col-lg-3 aboutusimage">
                        <img src="assets/img/angular.png" class="img-fluid" alt="">
                        <p><b>ONE ON ONE TRAINING</b></p>
                        <p><b>COURSE PRICE - 10,000 INR ONLY</b></p>
                        <a style="text-align: center;" routerLink="/contact"><button type="button">TALK TO TUTOR</button></a>
                    </div>
                    <div class="col-lg-9 pt-4 pt-lg-0 content">
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">~COURSE CONTENT~</h1>
                            <li class="list-group-item">- Angular Basics (Why Angular and how its different)</li>
                            <li class="list-group-item">- Typescript</li>
                            <li class="list-group-item">- Angular CLI</li>
                            <li class="list-group-item">- Directives (Structural, Component and Attribute)</li>
                            <li class="list-group-item">- Components and Databinding deep dive</li>
                            <li class="list-group-item">- Services and Dependency Injection</li>
                            <li class="list-group-item">- Routing deep dive</li>
                            <li class="list-group-item">- Understanding Observables and how its different from Promises
                            </li>
                            <li class="list-group-item">- Handling Forms in Angular, Template Driven and Reactive forms
                            </li>
                            <li class="list-group-item">- Pipes in depth (pure and impure)</li>
                            <li class="list-group-item">- Making http calls to the server</li>
                            <li class="list-group-item">- Authentication and Authorization in Angular</li>
                            <li class="list-group-item">- Dynamic Components</li>
                            <li class="list-group-item">- Modules</li>
                            <li class="list-group-item">- Optimization Tips</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">What you will learn?</h1>
                            <li class="list-group-item">- Develop modern, complex, responsive and scalable web applications with Angular</li>
                            <li class="list-group-item">- Fully understand the architecture behind an Angular application and how to use it</li>
                            <li class="list-group-item">- Use the gained, deep understanding of the Angular fundamentals to quickly establish yourself as a frontend developer</li>
                            <li class="list-group-item">- Create single-page applications with one of the most modern JavaScript frameworks out there</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">Are there any course requirements or prerequisites?</h1>
                            <li class="list-group-item">- NO Angular 1 or Angular 2 knowledge is required!</li>
                            <li class="list-group-item">- Basic HTML and CSS knowledge helps, but isn't a must-have</li>
                            <li class="list-group-item">- Prior TypeScript knowledge also helps but isn't necessary to benefit from this course</li>
                            <li class="list-group-item">- Basic JavaScript knowledge is required</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">Who this course is for?</h1>
                            <li class="list-group-item">- Newcomer as well as experienced frontend developers interested in learning a modern JavaScript framework</li>
                            <li class="list-group-item">- This course is for everyone interested in learning a state-of-the-art frontend JavaScript framework</li>
                            <li class="list-group-item">- Taking this course will enable you to be amongst the first to gain a very solid understanding of Angular</li>
                        </ul>
                    </div>
                    <a style="text-align: center;" routerLink="/contact"><button type="button">TALK TO TUTOR</button></a>
                </div>
            </div>
        </div>
    </div>
</section>