<section id="services" class="services service_section">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2><a routerLink="/courses">Courses</a> / OOPS CONCEPTS IN C#</h2>
            <p></p>
        </div>
        <div class="row">
            <div class="contentsection col-lg-12 col-md-12 d-flex">
                <div class="row contentdata fn">
                    <div class="col-lg-3 aboutusimage">
                        <img src="assets/img/oops.png" class="img-fluid" alt="">
                        <p><b>ONE ON ONE TRAINING</b></p>
                        <p><b>COURSE PRICE - 7,500 INR ONLY</b></p>
                        <a style="text-align: center;" routerLink="/contact"><button type="button">TALK TO TUTOR</button></a>
                    </div>
                    <div class="col-lg-9 pt-4 pt-lg-0 content">
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">~COURSE CONTENT~</h1>
                            <li class="list-group-item">- What is OOPS concept?</li>
                            <li class="list-group-item">- SOLID PRINCIPLES</li>
                            <li class="list-group-item">- CLASS & OBJECTS in depth</li>
                            <li class="list-group-item">- ABSTRACTION concept in depth</li>
                            <li class="list-group-item">- ENCAPSULATION concept in depth</li>
                            <li class="list-group-item">- POLYMORPHISM AND SHADOWING in depth</li>
                            <li class="list-group-item">- CONSTRUCTORS AND ITS TYPES in depth</li>
                            <li class="list-group-item">- INHERITANCE AND ITS TYPES in depth</li>
                            <li class="list-group-item">- CONSTANT, READONLY AND STATIC concept in depth</li>
                            <li class="list-group-item">- EXTENSION METHODS in depth</li>
                            <li class="list-group-item">- FINALIZE AND DISPOSE in depth</li>
                            <li class="list-group-item">- == and .Equals in depth</li>
                            <li class="list-group-item">- REFERENCE TYPES AND VALUE TYPES in depth</li>
                            <li class="list-group-item">- SEALED CLASSES AND SEALED METHODS in depth</li>
                            <li class="list-group-item">- ABSTRACT CLASSES AND INTERFACES in depth</li>
                            <li class="list-group-item">- BREAK AND CONTINUE in depth</li>
                            <li class="list-group-item">- BOXING AND UNBOXING in depth</li>
                            <li class="list-group-item">- VIRTUAL METHODS in depth</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">What you will learn?</h1>
                            <li class="list-group-item">- Develop modern, complex and scalable web/ windows/ mobile applications with OOPS concepts</li>
                            <li class="list-group-item">- Fully understand the OOPS terms that used in almost every mordern language</li>
                            <li class="list-group-item">- Understand OOPS in depth to enable yourself to sit for technical interview</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">Are there any course requirements or prerequisites?</h1>
                            <li class="list-group-item">- Basic knowledge of coding is helpful</li>
                            <li class="list-group-item">- This course is in C#, so C# basic knowledge is helpful</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">Who this course is for?</h1>
                            <li class="list-group-item">- Newcomer as well as experienced developers interested in learning basic OOPS concepts</li>
                            <li class="list-group-item">- This course is for everyone preparing for technical interviews for c#, asp.net, .netcore or any object oriented language</li>
                            <li class="list-group-item">- Taking this course will enable you to be amongst the first to gain a very solid understanding of c# language</li>
                        </ul>
                    </div>
                    <a style="text-align: center;" routerLink="/contact"><button type="button">TALK TO TUTOR</button></a>
                </div>
            </div>
        </div>
    </div>
</section>