<section id="services" class="services service_section">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2><a routerLink="/courses">Courses</a> / .NET CORE</h2>
            <p></p>
        </div>
        <div class="row">
            <div class="contentsection col-lg-12 col-md-12 d-flex">
                <div class="row contentdata fn">
                    <div class="col-lg-3 aboutusimage">
                        <img src="assets/img/netcore.png" class="img-fluid" alt="">
                        <p><b>ONE ON ONE TRAINING</b></p>
                        <p><b>COURSE PRICE - 12,500 INR ONLY</b></p>
                        <a style="text-align: center;" routerLink="/contact"><button type="button">TALK TO TUTOR</button></a>
                    </div>
                    <div class="col-lg-9 pt-4 pt-lg-0 content">
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">~COURSE CONTENT~</h1>
                            <li class="list-group-item">- What is .net core</li>
                            <li class="list-group-item">- Creating .net core application</li>
                            <li class="list-group-item">- .net core project file structure</li>
                            <li class="list-group-item">- InProcess and OutOfProcess concept</li>
                            <li class="list-group-item">- setting json files in detail</li>
                            <li class="list-group-item">- Middlewares in detail</li>
                            <li class="list-group-item">- .net core Static Files</li>
                            <li class="list-group-item">- .net core MVC</li>
                            <li class="list-group-item">- .net core Dependency Injection</li>
                            <li class="list-group-item">- Models, Views, Controllers in .net core</li>
                            <li class="list-group-item">- View Types in .netcore</li>
                            <li class="list-group-item">- Environment Variables in .net core</li>
                            <li class="list-group-item">- Routing in .net core</li>
                            <li class="list-group-item">- Tag Helpers in .net core</li>
                            <li class="list-group-item">- Validation in .net core</li>
                            <li class="list-group-item">- AddSingleton, AddScoped, AddTransient services in detail</li>
                            <li class="list-group-item">- Entity Framework Core in depth</li>
                            <li class="list-group-item">- Repository Pattern in .net core</li>
                            <li class="list-group-item">- Exception Handling in depth</li>
                            <li class="list-group-item">- Filters in .net core</li>
                            <li class="list-group-item">- Authentication and Authoization in .netcore via Identity Framework
                            </li>
                            <li class="list-group-item">- WEB API in .net core</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">What you will learn?</h1>
                            <li class="list-group-item">- Develop modern, complex and scalable web applications with .netcore
                            </li>
                            <li class="list-group-item">- Fully understand the architecture behind an .netcore application and how to use it</li>
                            <li class="list-group-item">- Use the gained, deep understanding of the .netcore fundamentals to quickly establish yourself as a backend developer</li>
                            <li class="list-group-item">- Create Webpages and Web API's with the most demanding .net core framework</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">Are there any course requirements or prerequisites?</h1>
                            <li class="list-group-item">- Basic knowledge of .net is required</li>
                            <li class="list-group-item">- Basic HTML and CSS knowledge helps, but isn't a must-have</li>
                            <li class="list-group-item">- Prior knowledge of ASP.NET webforms and ASP.NET MVC will help you to understand the content quickly, though not compulsary</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">Who this course is for?</h1>
                            <li class="list-group-item">- Newcomer as well as experienced backend developers interested in learning a modern .netcore framework</li>
                            <li class="list-group-item">- This course is for everyone interested in learning a state-of-the-art backend .netcore framework</li>
                            <li class="list-group-item">- Taking this course will enable you to be amongst the first to gain a very solid understanding of .netcore</li>
                        </ul>
                    </div>
                    <a style="text-align: center;" routerLink="/contact"><button type="button">TALK TO
                            TUTOR</button></a>
                </div>
            </div>
        </div>
    </div>
</section>