<section id="services" class="services service_section">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2><a routerLink="/courses">Courses</a> / SQL SERVER</h2>
            <p></p>
        </div>
        <div class="row">
            <div class="contentsection col-lg-12 col-md-12 d-flex">
                <div class="row contentdata fn">
                    <div class="col-lg-3 aboutusimage">
                        <img src="assets/img/sqlserver.png" class="img-fluid" alt="">
                        <p><b>ONE ON ONE TRAINING</b></p>
                        <p><b>COURSE PRICE - 8,000 INR ONLY</b></p>
                        <a style="text-align: center;" routerLink="/contact"><button type="button">TALK TO TUTOR</button></a>
                    </div>
                    <div class="col-lg-9 pt-4 pt-lg-0 content">
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">~COURSE CONTENT~</h1>
                            <li class="list-group-item">- Introduction of SQL SERVER</li>
                            <li class="list-group-item">- SQL SERVER Management Studio </li>
                            <li class="list-group-item">- CREATE , ALTER DROP, RESTORE</li>
                            <li class="list-group-item">- DATATYPES IN SQL SERVER - varchar, numeric, datetime etc.</li>
                            <li class="list-group-item">- CREATE, ALTER,DROP</li>
                            <li class="list-group-item">- SQL SERVER CONSTRAINTS IN DEPTH</li>
                            <li class="list-group-item">- IDENTITY, GUID IN SQL SERVER</li>
                            <li class="list-group-item">- IF-ELSE CONDITIONAL STATEMENT</li>
                            <li class="list-group-item">- CASE & NESTED CASE STATEMENTS</li>
                            <li class="list-group-item">- STRING METHODS IN DETAIL</li>
                            <li class="list-group-item">- SQL SERVER JOINS IN DEPTH</li>
                            <li class="list-group-item">- CREATE LOGIN, USER PERMISSIONS IN DETAIL</li>
                            <li class="list-group-item">- SUB QUERIES AND THEIR TYPES IN SQL SERVER</li>
                            <li class="list-group-item">- TEMPORARY TABLES WITH THEIR TYPES IN DETAIL</li>
                            <li class="list-group-item">- INDEXES IN DETAIL</li>
                            <li class="list-group-item">- TRIGGERS IN DEPTH</li>
                            <li class="list-group-item">- WHILE AND CURSOR IN DETAIL</li>
                            <li class="list-group-item">- STORED PROCEDURES AND FUNCTIONS IN SQL SERVER</li>
                            <li class="list-group-item">- USE OF "AND" & "OR" OPERATORS</li>
                            <li class="list-group-item">- DBCC FUNDAMENTALS</li>
                            <li class="list-group-item">- INTRODUCTION TO "SYS" COMMANDS</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">What you will learn?</h1>
                            <li class="list-group-item">- BASIC TO ADVANCE SQL SERVER OPERATIONS</li>
                            <li class="list-group-item">- CREATING MOREDERN DATABASE ARCHITECTURE IN SQL SERVER</li>
                            <li class="list-group-item">- WRITING OPTIMIZED QUERIES</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">Are there any course requirements or prerequisites?</h1>
                            <li class="list-group-item">- Basic knowledge of SQL is required but not necessary</li>
                            <li class="list-group-item">- Dedication to Learn</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">Who this course is for?</h1>
                            <li class="list-group-item">- Newcomer as well as experienced backend developers interested in learning sql server</li>
                        </ul>
                    </div>
                    <a style="text-align: center;" routerLink="/contact"><button type="button">TALK TO
                            TUTOR</button></a>
                </div>
            </div>
        </div>
    </div>
</section>