<!-- ======= Portfolio Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>ABOUT US</h2>
            <p></p>
        </div>
        <div class="row">
            <p>Streaming sounds of the Caribbean 24/7 !! Your home for Caribbean, West Indian, Soca, Chutney, and Reggae music</p>
            <p>Specializing in quality music and the very best selection of sounds for the Caribbean and West Indian community. Our DJs are some of the most talented out there, bringing you new and fresh tunes from the Caribbean direct to your ears for your
                listening pleasure.</p>
            <p>Discover new music</p>
            <p>Music is a universal language, but no language is as diverse as Caribbean music. We play a huge mix of Caribbean and West Indian tunes, from a variety of artists – we support new artists as well as indulging in some established favorites,
                so you’re sure to find something you’ll love.</p>
            <p>If you’re a DJ we’d love to hear from you.</p>
            <p>Alongside 24/7 Caribbean music, we also provide a platform for DJ’s to come and play their sets, live. Whether it’s an audio or visual format, come and showcase your skills – it’s also an opportunity for your fans to interact with you over
                live chat too.</p>
            <p>If you’re looking to promote your music, your brand, or any upcoming gigs, we also offer advertising space. Find out how to submit your mix by emailing us at <a href="mailto:ddlkrew00@gmail.com">ddlkrew00@gmail.com</a></p>
            <p></p>
        </div>
    </div>
</section>



<!-- End Portfolio Section -->