<section id="services" class="services service_section">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2><a routerLink="/courses">Courses</a> / Angular</h2>
            <p></p>
        </div>
        <div class="row">
            <div class="contentsection col-lg-12 col-md-12 d-flex">
                <div class="row contentdata fn">
                    <div class="col-lg-3 aboutusimage">
                        <img src="assets/img/advanceangular.png" class="img-fluid" alt="">
                        <p><b>ONE ON ONE TRAINING</b></p>
                        <p><b>COURSE PRICE - 10,000 INR ONLY</b></p>
                        <p><b>Note : You must have basic Angular & Typescript knowledge to enroll</b></p>
                        <a style="text-align: center;" routerLink="/contact"><button type="button">TALK TO TUTOR</button></a>
                    </div>
                    <div class="col-lg-9 pt-4 pt-lg-0 content">
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">~COURSE CONTENT~</h1>
                            <li class="list-group-item">- Angular Routing in depth</li>
                            <li class="list-group-item">- Angular Forms in depth</li>
                            <li class="list-group-item">- Form Arrays in depth</li>
                            <li class="list-group-item">- Tree Shaking and Change Detection in depth</li>
                            <li class="list-group-item">- Fork Join, Combine Latest, Zip observables in depth</li>
                            <li class="list-group-item">- Pipes in depth (Pure, Impure)</li>
                            <li class="list-group-item">- Memoization</li>
                            <li class="list-group-item">- Immutable.js in depth</li>
                            <li class="list-group-item">- Subject in depth</li>
                            <li class="list-group-item">- Behavious Subject in depth</li>
                            <li class="list-group-item">- Relay Subject in depth</li>
                            <li class="list-group-item">- Async Subject in depth</li>
                            <li class="list-group-item">- Content Project in Angular in depth</li>
                            <li class="list-group-item">- Lazy Loading in depth</li>
                            <li class="list-group-item">- Commonly used rxjs operators</li>
                            <li class="list-group-item">- Angular Schedulers in depth</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">What you will learn?</h1>
                            <li class="list-group-item">- Develop modern, complex, responsive and scalable web applications with Angular</li>
                            <li class="list-group-item">- Fully understand the architecture behind an Angular application and how to use it</li>
                            <li class="list-group-item">- Use the gained, deep understanding of the Angular fundamentals to quickly establish yourself as a frontend developer</li>
                            <li class="list-group-item">- Create single-page applications with one of the most modern JavaScript frameworks out there</li>
                            <li class="list-group-item">- You will get knowledge of advance topics of angular</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">Are there any course requirements or prerequisites?</h1>
                            <li class="list-group-item">- Must know about the basic concepts of Angular</li>
                            <li class="list-group-item">- Basic HTML and CSS knowledge is must</li>
                            <li class="list-group-item">- Prior TypeScript knowledge is must</li>
                            <li class="list-group-item">- Basic JavaScript knowledge is required</li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">Who this course is for?</h1>
                            <li class="list-group-item">- This course is for students, learners who knows Angular and want to enhance their knowledge on Advance topics</li>
                            <li class="list-group-item">- This course is for everyone interested in learning a state-of-the-art frontend JavaScript framework</li>
                            <li class="list-group-item">- Taking this course will enable you to be amongst the first to gain a very solid understanding of Angular</li>
                        </ul>
                    </div>
                    <a style="text-align: center;" routerLink="/contact"><button type="button">TALK TO TUTOR</button></a>
                </div>
            </div>
        </div>
    </div>
</section>