<section id="services" class="services service_section">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2><a routerLink="/courses">Courses</a> / Important Topics</h2>
            <p></p>
        </div>
        <div class="row">
            <div class="contentsection col-lg-12 col-md-12 d-flex">
                <div class="row contentdata fn">
                    <div class="col-lg-3 aboutusimage">
                        <img src="assets/img/important.jpg" class="img-fluid" alt="">
                        <p><b>ONE ON ONE TRAINING</b></p>
                        <a style="text-align: center;" routerLink="/contact"><button type="button">TALK TO TUTOR</button></a>
                    </div>
                    <div class="col-lg-9 pt-4 pt-lg-0 content">
                        <ul class="list-group list-group-flush">
                            <h1 class="text-center">~PAY FOR WHAT YOU LEARN~</h1>
                            <li class="list-group-item">- Creating and Saving Logs in SQL SERVER in .NET CORE - <b>1 hours, 700 INR</b></li>
                            <li class="list-group-item">- Securing Web APIs with Identity Server 4 - <b>1 hours, 800 INR</b></li>
                            <li class="list-group-item">- OBSERVABLES AND SUBJECTS IN DEPTH - <b>1.5 hours, 1100 INR</b></li>
                            <li class="list-group-item">- SQL SERVER JOINS IN DEPTH - <b>1.5 hours, 1100 INR</b></li>
                            <li class="list-group-item">- CREATING AND UNDERSTANDING ANGULAR PROJECT - <b>1.5 hours, 1100 INR</b></li>
                            <li class="list-group-item">- ANGULAR REACTIVE FORMS WITH FORMGROUP, FORMCONTROL, FORMARRAY - <b>2 hours, 1500 INR</b></li>
                            <li class="list-group-item">- CONFIG FILES IN .NETCORE IN DEPTH WITH THEIR PRIORITIES - <b>1.5 hours, 1200 INR</b></li>
                            <li class="list-group-item">- MIDDLEWARES IN DEPTH IN .NETCORE - <b>1.5 hours, 1500 INR</b></li>
                        </ul>
                    </div>
                    <a style="text-align: center;" routerLink="/contact"><button type="button">TALK TO TUTOR</button></a>
                </div>
            </div>
        </div>
    </div>
</section>