<section id="services" class="services service_section">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2><a routerLink="/services">Services</a> / Emotionally Imaginative Therapy</h2>
            <p></p>
        </div>
        <div class="row">
            <div class="contentsection col-lg-12 col-md-12 d-flex">
                <div class="row contentdata p">
                    <div class="col-lg-3 aboutusimage">
                        <img src="assets/img/about.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-9 pt-4 pt-lg-0 content">
                        <p class="font-italic">
                            Thank you for stopping by.
                        </p>
                        <p> My name is Gulmira and I am the founder of gaiahealinghub.com.
                        </p>
                        <p> I was inspired to become a Rapid Transformational Therapist after personally experiencing the life changing benefits of Marisa Peer’s RTT. It helped me gain control over the food I eat. it helped me transform from codependency
                            to independency and it helped me face my fears of judgement, rejection and failure.
                        </p>
                        <p> I can help you discover the power within yourself. The power to take control and bring more balance into your life. I want to help you overcome issues, break addictions and become more confident. I feel it’s my duty to give something
                            back.
                        </p>
                    </div>
                    <a style="text-align: center;" routerLink="/shop/eit"><button
                            type="button">Book Appointment</button></a>
                </div>
            </div>
        </div>
    </div>
</section>